@media (max-width:600px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;

    }
    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .menu {
        max-height: 100%;
    }
}
body {
    width: 100%;
    height: 100vh;
    background: url("/img/back\ copy.jpg");
}
.list {
    list-style: none;
    display: flex;
    pointer-events: none;
    gap: 20px;
}
.list *{
    transition: .2s;
}
.list > * {
    opacity: 0.3;
}
.list > * {
    pointer-events: auto;
}
.list:hover > *:hover {
    opacity: 1;
}
#toggler,
.navbar label {
    display: none;
    color: #fff;
}
.container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2327;
    padding: 15px;
    box-shadow: 0 0 20px #000;

}
.navbar  a {
    text-decoration: none;
    color: #eeeef2;
    font-size: 45px;
    margin-left: 40px;
}
.logo  {
    margin-right: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: pink;

}
.list li a {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(65, 234, 18);
    margin-right: 80px;
}
.list li a:hover {
    transition: .3s;
    display: block;
    padding: 10px;
    padding-block: none;
    color: #e21010;   
}
.cover1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 500px;
    text-align: center;
    padding: 20px 40px 20px;
}
.cover1 img{
    width: 398px;
    height: 285px;
    border: 20px;
}
.cover1 p{
    color: rgb(249, 45, 13);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    background-color: #eeeef2;
    border-radius: 15px;
}
.cover1 p:hover{
    color: #030214;
    transition: .5s;
}
.box1{
    box-shadow: 0 8px 11px rgba(4, 208, 205, 0.15);
}

.box2{
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
}
.box3{
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
}
.cover2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 500px;
    text-align: center;
    padding: 20px 40px 20px;
    background: #77c769;
}
.cover2 img{
    width: 398px;
    height: 285px;
    border: 20px;
}
.cover2 p{
    color: rgb(249, 45, 13);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    background-color: #eeeef2;
    border-radius: 15px;
}
.cover2 p:hover{
    color: #030214;
    transition: .5s;
}
.box1{
    box-shadow: 0 8px 11px rgba(4, 208, 205, 0.15);
}

.box2{
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
}
.box3{
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
}
.cover3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 500px;
    text-align: center;
    padding: 20px 40px 20px;
    background: #91cf7c;
}
.cover3 img{
    width: 100%;
    height: 100%;
    border: 20px;
    font-size: 85%;
}
.cover3 p{
    color: rgb(232, 219, 218);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    background-color: #2424d4;
    border-radius: 15px;
}
.cover3 p:hover{
    color: #e0dfef;
    transition: .5s;
}
.box4 {
    box-shadow: 0 8px 11px rgba(4, 208, 205, 0.15);
    margin-left: 400px;
    
}